<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Salary</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <form action="{% url 'result' %}">
      <h1>Enter your salary here</h1>
      {% csrf_token %} {{form}}
      <input type="submit" salary=" " value="Submit Salary" />
    </form>

    <script src="" async defer></script>
  </body>
</html>
