<!-- prettier-ignore -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>{{extra_info}}</h2>
  <ul>
    {% for book in books %}
    <li>
      {{ book.title }} by {{ book.author }} ({{ book.published_date }})
      <a href="{% url 'update' book.id %}">Update</a>
      <a href="{% url 'delete' book.id %}">Delete</a>
    </li>
    {% endfor %}
  </ul>

  {% if is_paginated %}
  <div>
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <!-- prettier-ignore -->
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
    <!-- prettier-ignore -->
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ paginator.num_pages }}">Last</a>
    {% endif %}
  </div>
  <!-- prettier-ignore -->
  {% endif %}
  <a href="{% url 'create' %}">Create a new book</a>
</div>
{% endblock %}
